%montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.news__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 26px;

  &--item {
    padding-bottom: 20px;
    width: 525px;
    height: 100%;
    margin-bottom: 20px;
  }

  &--link {
    color: #000;
  }
  &--link:hover {
    color: pink;
  }

  &--title {
    @extend %montserrat;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;
  }

  &--description-title {
    @extend %montserrat;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
  }

  &--description {
    @extend %montserrat;
    font-size: 16px;
    line-height: 20px;
  }
}

.hightlight {
  background-color: yellow;
}
